.App {
  font-family: "Overpass", sans-serif;
  text-align: center;
  color: #63707e;
}

a {
  color: #63707e;
  font-style: italic;
  text-align: center;
  margin: auto;
  display: block;
  font-size: 14px;
}

img {
  max-width: 45%;
  max-height: 45%;
  align-self: center;
}

h2 {
  display: inline;
  font-size: 18px;
  vertical-align: middle;
}

form {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

h3 {
  font-size: 46px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 4px;
}

h4 {
  font-size: 34px;
  margin-bottom: 30px;
  margin-top: 40px;
}

p {
  margin-top: 20px;
}

.tomorrow {
  font-size: 26px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.tomorrowTemperature {
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tomorrowIcon {
  max-width: 45%;
  max-height: 45%;
}

.coder {
  margin-top: 15px;
  font-style: italic;
  text-align: center;
}
.container {
  background-image: linear-gradient(
    to bottom,
    #f2f6f5 0%,
    #c8dad3 33%,
    #93b5b3 66%,
    #63707e 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  margin-top: 8px;
  width: 800px;
  max-width: 100%;
  color: #4d5761;
  border-radius: 12px;
}

.secondHeader {
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.125);
  background-color: #fff;
  border-width: 1px;
  margin: 20px auto;
  text-align: center;
  max-width: 70%;
  padding: 5px;
  margin-top: 5px;
}

.header {
  padding: 0px;
  margin: 12px 0px;
  font-size: 40px;
  vertical-align: middle;
  display: inline;
  margin-left: 15px;
}

.sheCodesReactLogo {
  vertical-align: middle;
  margin-right: 15px;
  position: relative;
  max-width: 20%;
  max-height: 20%;
}

.forcastCard {
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.todayBlock {
  height: 100%;
}

.magnifyingGlass {
  display: inline;
  max-width: 100%;
  margin: 0;
  border-style: none;
  background-color: #fff;
  margin-bottom: 0px;
  max-height: 28px;
  background: url(https://www.flaticon.com/svg/static/icons/svg/3203/3203073.svg);
  background-size: 28px;
  width: 28px;
  color: rgba(0, 0, 0, 0);
  outline: none;
}
.todayIcon {
  max-width: 45%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.cityForm input {
  vertical-align: middle;
  margin-right: 10px;
  display: inline;
}

.card {
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.tomorrowBlock {
  margin-bottom: 0px;
}

.next4Days {
  margin-top: 4%;
  max-width: 48%;
}

.rightColumn {
  margin-left: 2%;
}
.leftColumn {
  margin-right: 2%;
}

.rightSide {
  padding-left: 10px;
  padding-right: 10px;
}
.leftSide {
  padding-right: 10px;
  padding-left: 10px;
}

.nextDays {
  margin-top: 10px;
  margin-bottom: 5px;
}

.nextDaysTemperature {
  margin-top: 5px;
  margin-bottom: 5px;
}

.todayInfo {
  font-style: italic;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 0;
}
.todayInfoBox {
  margin-top: 20px;
}

#temperature-symbol-switch {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 172, 234);
  border-width: 0;
  padding: 2px;
  font-size: 10px;
  vertical-align: super;
  outline: none;
}

#you-are-here-img {
  background: url(https://static.thenounproject.com/png/25718-200.png);
  background-size: 30px;
  display: inline;
  max-width: 100%;
  margin: 0;
  border-style: none;
  margin-bottom: 0px;
  max-height: 30px;
  width: 28px;
  color: rgba(0, 0, 0, 0);
  outline: none;
}

#selectedCity {
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.125);
  background-color: #fff;
  border-width: 1px;
  padding-left: 6px;
}
